<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">待审批</li>
                <li>已审批</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table style="margin-top: 10px;" id="log-login-table" lay-filter="undo-table"></table>
                </div>
                <div class="layui-tab-item">
                    <table style="margin-top: 10px;" id="log-operate-table" lay-filter="do-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="log-bar">
	<button type="button" class="layui-btn" lay-event="look">查看详情</button>
	<button type="button" class="pear-btn pear-btn-sm pear-btn-success" lay-event="pass">通过</button>
	<button class="pear-btn pear-btn-sm pear-btn-danger" lay-event="reject">拒绝</button>
</script>
<script type="text/html" id="log-bar2">
	<button type="button" class="layui-btn" lay-event="look">查看详情</button>
</script>

<script type="text/html" id="log-bar1">
    {{#if (d.success == true) { }}
	
	  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
	<!-- <button class="pear-btn pear-btn-sm pear-btn-success" lay-event="edit"><i class="layui-icon layui-icon-ok"></i>
        补流程跟</button> -->
    {{# }else if(d.success == false){ }}
    <button class="pear-btn pear-btn-sm pear-btn-danger" lay-event="error"><i class="layui-icon layui-icon-help"></i>
        异常</button>
    {{# } }}
</script>

<!-- <script type="text/html" id="detail-bar">
	<button type="button" class="pear-btn pear-btn-sm pear-btn-success">通过</button>
	  <button class="pear-btn pear-btn-sm pear-btn-danger">拒绝</button>
	  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
</script> -->

<!-- <script type="text/html" id="log-createTime">
    {{layui.util.toDateString(d.createTime,  "yyyy-MM-dd-yyyy-MM-dd")}}
</script> -->
<script type="text/html" id="userwgyEditDialogE">
    <form id="userwgyEditForm" lay-filter="userwgyEditForm" class="layui-form model-form">
        <div class="layui-form-item layui-row layui-col-space15">
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">订单编号</label>
			    <div class="layui-input-block">
			        <input name="order_id" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required" >资源编号</label>
			    <div class="layui-input-block">
			        <input name="res_id" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">资源类型</label>
			    <div class="layui-input-block">
			        <input name="res_type_name" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">资源地址</label>
			    <div class="layui-input-block">
			        <input name="res_address" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">预定日期</label>
			    <div class="layui-input-block">
			        <input name="order_res_date" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">开始时间</label>
			    <div class="layui-input-block">
			        <input name="order_res_lefttime" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">结束时间</label>
			    <div class="layui-input-block">
			        <input name="order_res_righttime" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">预约人姓名</label>
			    <div class="layui-input-block">
			        <input name="name" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">身份证号</label>
			    <div class="layui-input-block">
			        <input name="idcard" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
			<div class="layui-col-md12">
			    <label class="layui-form-label layui-form-required">联系方式</label>
			    <div class="layui-input-block">
			        <input name="phone" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
			    </div>
			</div>
        </div>
    </form>
</script>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script src="../../../component/pear/modules/admin.js"></script>
<script>
    layui.use(['table','form','jquery','element','layer','admin'],function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;
		let $ = layui.jquery;
		var admin = layui.admin;
		var layer= layui.layer;
		console.log(layui.cache.server);
        let MODULE_PATH = "/system/logging/";

        let cols = [
            [
                {title: '订单编号', field: 'order_id', align:'center'},
                {title: '资源编号', field: 'res_id', align:'center'},
				{title: '资源类型', field: 'res_type_name', align:'center'},
				//{title: '资源地址', field: 'res_address', align:'center'},
                {title: '预定日期', field: 'order_res_date', align:'center'},
                {title: '开始时间', field: 'order_res_lefttime', align:'center'},
                {title: '结束时间', field: 'order_res_righttime',align:'center'},
               {title: '预约人姓名', field: 'name', align:'center'},
               //{title: '身份证号', field: 'idcard',templet:'#log-createTime', align:'center'},
               // {title: '联系方式', field: 'phone', align:'center'},
                {title: '审核操作', toolbar: '#log-bar', align:'center', width:250}
            ]
        ]
		
		let col = [
		    [
		        {title: '订单编号', field: 'order_id', align:'center'},
		         {title: '资源编号', field: 'res_id', align:'center'},
				 {title: '资源类型', field: 'res_type_name', align:'center'},
		        //{title: '资源地址', field: 'res_address', align:'center'},
		         {title: '预定日期', field: 'order_res_date', align:'center'},
		         {title: '开始时间', field: 'order_res_lefttime', align:'center'},
		         {title: '结束时间', field: 'order_res_righttime',align:'center'},
		        {title: '预约人姓名', field: 'name', align:'center'},
		        //{title: '身份证号', field: 'idcard',templet:'#log-createTime', align:'center'},
		         //{title: '联系方式', field: 'phone', align:'center'},
				 {title: '操作', toolbar: '#log-bar2', align:'center'},
				{title: '审核状态', field: 'state_name', align:'center'},
		        // {title: '详情页面', toolbar: '#log-bar1', align:'center', width:250}
		    ]
		]
		var undo_table = table.render({
		    elem: '#log-login-table',
		    url: layui.cache.server+'/Orders/getOrdersStateStreetCmty?order_state=0&street_id=1&cmty_id=1',
		    page: true ,
		    cols: cols ,
		    skin: 'line',
		    toolbar: false
		});
		
        var do_table =table.render({
            elem: '#log-operate-table',
            url: layui.cache.server+'/Orders/getOrdersStateStreetCmty?street_id=1&cmty_id=1',
            page: true ,
            cols: col ,
            skin: 'line',
            toolbar: false
        });

        table.on('tool(undo-table)', function(obj){
            var data = obj.data;
            if(obj.event === 'pass'){
        		$.post(layui.cache.server+'/Orders/updateOrdersState',{order_id:data.order_id,order_state:1},function(res){
        			if(res.code==0){
        				undo_table.reload();
        				do_table.reload();
        			}else{
        				layer.msg(res.msg);
        			}
        			
        		},'json')
            } else if(obj.event === 'reject'){
        		$.post(layui.cache.server+'/Orders/updateOrdersState',{order_id:data.order_id,order_state:2},function(res){
        			if(res.code==0){
        				undo_table.reload();
        				do_table.reload();
        			}else{
        				layer.msg(res.msg);
        			}
        			
        		},'json')
            }else if(obj.event === 'look'){
				layer.open({
					title: '查看商铺详情',
					area: ['700px', '600px'],
				   content: $('#userwgyEditDialogE').html(),
				   success: function (layero, dIndex) {
				   	// 回显表单数据
				   	form.val('userwgyEditForm', obj.data);
				   	
				   }
				});
		    }
          });
		table.on('tool(do-table)', function(obj){
		   if(obj.event === 'look'){
				layer.open({
					title: '查看商铺详情',
					area: ['700px', '600px'],
				   content: $('#userwgyEditDialogE').html(),
				   success: function (layero, dIndex) {
				   	// 回显表单数据
				   	form.val('userwgyEditForm', obj.data);
				   	
				   }
				});
		    }
		  });
        form.on('submit(dict-type-query)', function(data){
            table.reload('dict-type-table',{where:data.field})
            return false;
        });

        window.error = function(obj){
            layer.open({
                type: 1,
                title: '异常信息',
                shade: 0,
                area: ['450px', '350px'],
                content: '<div class="pear-container"><div class="layui-card"><div class="layui-card-body">'+obj.data['error']+'</div></div></div>'
            });
        }
    })
</script>
</html>