<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>图书馆信息发布</title>
		<link rel="stylesheet" href="../../../component/pear/css/pear.css" />
		<style>

		</style>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-header">图书馆信息发布</div>
			<div class="layui-card-body">
				<table id="user-table" lay-filter="user-table"></table>
			</div>
		</div>

		<script type="text/html" id="user-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
			    <i class="layui-icon layui-icon-add-1"></i>
			    发布
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
			    <i class="layui-icon layui-icon-delete"></i>
			    删除
			</button>
		</script>
		
		<script type="text/html" id="look-log-bar">
			<button type="button" class="layui-btn" lay-event="look">查看详情</button>
		</script>
		
		<script type="text/html" id="userwgyEditDialogE">
		    <form id="userwgyEditForm" lay-filter="userwgyEditForm" class="layui-form model-form">
		        <div class="layui-form-item layui-row layui-col-space15">
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">资源编号</label>
					    <div class="layui-input-block">
					        <input name="res_id" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required" >资源类型</label>
					    <div class="layui-input-block">
					        <input name="res_type_name" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">街道</label>
					    <div class="layui-input-block">
					        <input name="street_name" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">社区</label>
					    <div class="layui-input-block">
					        <input name="cmty_name" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">资源地址</label>
					    <div class="layui-input-block">
					        <input name="res_address" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">可预约时间</label>
					    <div class="layui-input-block">
					        <input name="res_time" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">联系人</label>
					    <div class="layui-input-block">
					        <input name="res_contact" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
					<div class="layui-col-md12">
					    <label class="layui-form-label layui-form-required">联系电话</label>
					    <div class="layui-input-block">
					        <input name="res_tel" class="layui-input" lay-verType="tips" lay-verify="required" disabled/>
					    </div>
					</div>
		        </div>
		    </form>
		</script>
		

		<script src="../../../component/layui/layui.js"></script>
		<script src="../../../component/pear/pear.js"></script>
		<script src="../../../component/pear/modules/admin.js"></script>
		<script>
			layui.use(['table', 'form', 'jquery','common','layer','admin'], function() {
				let table = layui.table;
				let form = layui.form;
				let $ = layui.jquery;
				let common = layui.common;
				var admin = layui.admin;
				var layer= layui.layer;
				let MODULE_PATH = "../system/operate/";

				let cols = [
					[{
								type: 'checkbox'
							},
							{
								title: '资源编号',
								field: 'res_id',
								align: 'center',
								width: 100
							},
							{
								title: '资源类型',
								field: 'res_type_name',
								align: 'center'
							},
							// {
							// 	title: '街道',
							// 	field: 'street_name',
							// 	align: 'center',
							// 	width: 80
							// },
							// {
							// 	title: '社区名',
							// 	field: 'cmty_name',
							// 	align: 'center'
							// },
							{
								title: '资源地址',
								field: 'res_address',
								align: 'center'
							},
							{
								title: '可预约时间',
								field: 'res_time',
								align: 'center'
							},
							// {
							// 	title: '联系人',
							// 	field: 'res_contact',
							// 	align: 'center'
							// },
							// {
							// 	title: '联系电话',
							// 	field: 'res_tel',
							// 	align: 'center'
							// },
							{
								title: '审核状态',
								field: 'state_name',
								align: 'center'
							},
							{
								title: '操作',
								toolbar: '#look-log-bar',
								align: 'center'
							}
					]
				]

				var insTb=table.render({
					elem: '#user-table',
					url: layui.cache.server+'/Resget/getResourcesStreetCmtyType?res_type_id=4',
					page: true,
					cols: cols,
					skin: 'line',
					toolbar: '#user-toolbar',
					defaultToolbar: [{
						layEvent: 'refresh',
						icon: 'layui-icon-refresh',
					}, 'filter', 'print', 'exports']
				});

				table.on('tool(user-table)', function(obj) {
					if (obj.event === 'remove') {
						window.remove(obj);
					} else if (obj.event === 'edit') {
						window.edit(obj);
					}else if (obj.event === 'look') {
						layer.open({
							title: '查看详情',
							area: ['700px', '600px'],
						   content: $('#userwgyEditDialogE').html(),
						   success: function (layero, dIndex) {
						   	// 回显表单数据
						   	form.val('userwgyEditForm', obj.data);
						   
						   }
						});
					}
				});
				
				table.on('toolbar(user-table)', function(obj) {
					if (obj.event === 'add') {
						window.add();
					} else if (obj.event === 'refresh') {
						window.refresh();
					} else if (obj.event === 'batchRemove') {
						window.batchRemove(obj);
					}
				});


				form.on('submit(user-query)', function(data) {
					table.reload('user-table', {
						where: data.field
					})
					return false;
				});

				form.on('switch(user-enable)', function(obj) {
					layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
				});

				window.add = function() {
					layer.open({
						type: 2,
						title: '发布',
						shade: 0.1,
						area: ['800px', '600px'],
						content: MODULE_PATH + 'addinfoLib.html'
					});
				}

				window.edit = function(obj) {
					layer.open({
						type: 2,
						title: '修改',
						shade: 0.1,
						area: ['500px', '400px'],
						content: MODULE_PATH + 'editusers.html'
					});
				}


				window.batchRemove = function(obj) {
					
					var checkIds = common.checkField(obj,'res_id');
					
					if (checkIds === "") {
						layer.msg("未选中数据", {
							icon: 3,
							time: 1000
						});
						return false;
					}
					
					layer.confirm('确定要删除这些', {
						icon: 3,
						title: '提示'
					}, function(index) {
						layer.close(index);
						let loading = layer.load();
						$.ajax({
							url: layui.cache.server + "/Resget/delResources?res_id=" + checkIds,
							dataType: 'json',
							type: 'delete',
							success: function(result) {
								layer.close(loading);
								if (result.success) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									}, function() {
										table.reload('user-table');
									});
								} else {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000
									});
								}
							}
						})
					});
				}

				window.refresh = function(param) {
					table.reload('user-table');
				}
			})
		</script>
	</body>
</html>
